.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline decoration-2 underline-offset-4 text-blue-600 hover:text-blue-500 dark:text-sky-400 dark:hover:text-sky-300;
}
